#wrapper {
    display: inline-block;
    margin: 10px;
}

/***
    Messages
            ***/

.message {
    position: absolute;
    width: 100%;
}

.alert > h4 {
    margin: 0;
}

.alert {
    width: 40%;
    text-align: center;
    position: relative;
    margin: 10px auto;
    z-index: 9999;
}

.alert-dismissible .close {
    opacity: 1;
    float: none;
    margin-left: 50px;
    vertical-align: middle;
    top:0;
    font-size: inherit;
}
